* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  padding: 20px;
  width: 1000px;
  margin: 0 auto;
}

.createPost-filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
}